body {
	background-color: #87C1E6;
}

#left_content {
	float: left;
	padding:20px 20px;
}

#right_content {
	float: right;
	padding: 20px 20px;

}

#displayText {
	font-style-color: italic;
}

#navbar {
	background-color: yellow;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navbar li {
	display: inline;
}