<h3>Welcome to Angular Resources!</h3>
<p class="lead">AngularJS is a powerful tool</p>
<p>AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data binding and dependency injection eliminate much of the code you would otherwise have to write.</p>
<button class="btn btn-primary"><a ui-sref="books">Books</a></button>
<button class="btn btn-success"><a ui-sref="websites">Websites</a></button>
<button class="btn btn-warning"><a ui-sref="persons">People</a></button>
<button class="btn btn-danger"><a ui-sref="organizations">Organizations</a></button>



