<div class="col-xs-4">
	  	<h5 ng-show="!organizations.length" class="text-warning">More coming soon, or add one please</h5>
		<h3 ng-show="organizations.length">Organizational Resources:</h3>
		<input type="text" ng-model="organizationQuery" placeholder="search by organization name" </>
		<ul>
			<li ng-repeat="organization in organizations | filter: organizationQuery">
				<span ng-click="editing=true"  ng-hide="editing" class="text-warning">	{{organization.name}}
				</span>
				<span class="form-group" ng-show="editing" ng-submit="editing=false">
					<form class="form-inline" role="form">
						<input type="text" class="form-control input-sm" ng-model="organization.name" placeholder="Name" required />
						<button class="btn btn-default btn-sm" type="submit">Save</button>
					</form>
				</span>
				<a ng-click="ResourcesFactory.deleteOrganization(organization)">Delete</a>
			</li>
		</ul>
		<form ng-submit="ResourcesFactory.addOrganization()" class="form-inline" role="form">
			<div class="form-group">
				<input type="text" ng-model="ResourcesFactory.organizationName" class="form-control" placeholder="Enter new organization name">
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	  </div>